<!--
  Generated template for the InstagramPage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
  	<ion-buttons left>
      <button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>instagram</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-card *ngFor="let item of items">
  <span *ngIf="item.type == 'image'">
    <img [src]="item.images.standard_resolution.url"/>
  </span>
  <span *ngIf="item.type == 'video'">
    <video  controls>
      <source [src]="item.videos.standard_resolution.url" type="video/mp4">
    </video>
  </span>
    <ion-card-content>
      <p *ngIf="item.caption">{{item.caption.text}}</p>
      <small *ngIf="item.tags.length > 0">
        <span *ngFor="let tag of item.tags">
          #{{tag}}
        </span>
      </small>
      <ion-row no-padding>
      <ion-col text-center no-padding>
        <button ion-button color="dark" clear>
          <ion-icon name="heart"></ion-icon> {{item.likes.count}}
        </button>
      </ion-col>

      <ion-col text-center no-padding>
        <button ion-button color="dark" clear>
          <ion-icon name="chatboxes"></ion-icon> {{item.comments.count}}
        </button>
      </ion-col>

      <ion-col text-center no-padding>
        <button ion-button color="dark" clear>
          <ion-icon name="share-alt"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
    </ion-card-content>
  </ion-card>
</ion-content>
