<ion-header>

  <ion-navbar navColor>
  	<ion-buttons left>
      <button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>instagram</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-card *ngFor="let item of items">
  <span *ngIf="item.type == 'image'">
    <img [src]="item.images.standard_resolution.url"/>
  </span>
  <span *ngIf="item.type == 'video'">
    <video  controls>
      <source [src]="item.videos.standard_resolution.url" type="video/mp4">
    </video>
  </span>
    <ion-card-content>
      <p *ngIf="item.caption">{{item.caption.text}}</p>
      <ion-row no-padding>
      <ion-col text-center no-padding>
        <button ion-button color="dark" clear>
          <ion-icon ios="ios-heart-outline" md="md-heart-outline"></ion-icon> {{item.likes.count}}
        </button>
      </ion-col>

      <ion-col text-center no-padding>
        <button ion-button color="dark" clear (click)="openModal()">
          <ion-icon ios="ios-chatbubbles" md="md-chatbubbles"></ion-icon> {{item.comments.count}}
        </button>
      </ion-col>

      <ion-col text-center no-padding>
        <button ion-button color="dark" clear>
          <ion-icon name="share-alt"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
    </ion-card-content>
  </ion-card>
</ion-content>
