.home {

}

.fa-icons-general {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0, 0);
}

.ion-ios-fa-facebook-official::before,
.ion-ios-fa-facebook-official-outline::before,
.ion-md-fa-facebook-official::before {
    @extend .fa-icons-general;
    @extend .fa-facebook-official:before;
    content: "\f230";
}
.ion-ios-fa-shopping-cart::before,
.ion-ios-fa-shopping-cart-outline::before,
.ion-md-fa-shopping-cart::before {
    @extend .fa-icons-general;
    @extend .fa-shopping-cart:before;
    content: "\f07a";
}
.ion-ios-fa-instagram::before,
.ion-ios-fa-instagram-outline::before,
.ion-md-fa-instagram::before {
    @extend .fa-icons-general;
    @extend .fa-instagram:before;
    content: "\f16d";
}
.ion-ios-fa-twitter-square::before,
.ion-ios-fa-twitter-square-outline::before,
.ion-md-fa-twitter-square::before {
    @extend .fa-icons-general;
    @extend .fa-twitter-square:before;
    content: "\f081";
}
.ion-ios-fa-youtube-square::before,
.ion-ios-fa-youtube-square-outline::before,
.ion-md-fa-youtube-square::before {
    @extend .fa-icons-general;
    @extend .fa-youtube-square:before;
    content: "\f166";
}
.ion-ios-fa-soundcloud::before,
.ion-ios-fa-soundcloud-outline::before,
.ion-md-fa-soundcloud::before {
    @extend .fa-icons-general;
    @extend .fa-soundcloud:before;
    content: "\f1b6";
}
.ion-ios-fa-rss::before,
.ion-ios-fa-rss-outline::before,
.ion-md-fa-rss::before {
    @extend .fa-icons-general;
    @extend .fa-rss:before;
    content: "\f09e";
}
ion-tabbar {
    background: #000 !important;
}
.tab-button[aria-selected=true]{
	color: #fff;
}